#tarjaDois {
    position: relative;
    overflow: hidden;
    padding-block: 3rem;

    background: #fff;
    background: linear-gradient(to right, #D9F0FF, #FFFFFF, #FFFFFF, #DADAFF);
}

#tarjaDois header {
    margin-bottom: 0;
}

#tarjaDois h2 {
    color: var(--bg-black);
    font-size: 3rem;
}

#tarjaDois header h2 span {
    font-size: 4rem;
    padding-inline: 3rem;
}

@media (min-width: 1080px) {
    section#tarjaDois {
    }

    section#tarjaDois .content header {
    }

    section#tarjaDois .content header h2 {
        font-size: 3rem;
    }

    section#tarjaDois .content header h2 span {
        padding-inline: 1rem;
        font-size: 3rem;
    }
}